/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GENERICS */
body{
    font-family: 'Inter', sans-serif;
    color: #F8F8F8;
    background-color: #F8F8F8;
    margin: 0%;
}

li{
    list-style: none;
}

/* CLASSES */
.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.section{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #C76666;
    box-shadow: 0px 10px 22px -6px rgba(89,89,89,0.75);
    width: 300px;
    height: 325px;
    padding: 8px;
    text-align: center;
}

.balanceText{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.btn{
    width: 250px;
    height: 35px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    font-size: 18pt;
}

/* IDs */
#header{
    background-color: #873939;
    box-shadow: 0px 10px 22px -6px rgba(89,89,89,0.75);
    color: #F8F8F8;
    width: 100%;
    padding: 16px;
    padding-left: 36px;
    margin-bottom: 70px;
}

#main-content{
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

#sections{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
}

#featureList{
    padding: 0%;
}

#komputerInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    max-width: 75vw;
    height: 300px;
    background-color: #C76666;
    box-shadow: 0px 10px 22px -6px rgba(89,89,89,0.75);
}

#komputerImg{
    justify-content: flex-start;
    width: 300px;
}

#infoText{
    width: 400px;
    padding: 12px;
}

#buyArea{
    height: 300px;
    width: 300px;
    background-color: #873939;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#laptopSelect{
    background: #873939;
    color: #F8F8F8;
    width: 75%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    border-color: #F8F8F8;
    margin-bottom: 16px;
}

#komputerDesc{
    font-size: 14pt;
}

#komputerPrice{
    font-size: 24pt;
    margin: 16px;
}

#workBtns{
    margin-bottom: 8px;
}

/* BUTTONS */
#workBtn{
    color: #2F383A;
    background-color: #FFFA82;
}

#workBtn:hover{
    color: #F8F8F8;
    background-color: #b7b45d;
    cursor: pointer;
}

#workBtn:active{
    transform: translateY(4px);
}

#bankBtn{
    color: #F8F8F8;
    background-color: #41BA4D;
    margin-bottom: 16px;
}

#bankBtn:hover{
    color: #F8F8F8;
    background-color: #2b7632;
    cursor: pointer;
}

#bankBtn:active{
    transform: translateY(4px);
}

#payBankBtn{
    color: #F8F8F8;
    background-color: #1D5770;
}

#payBankBtn:hover{
    color: #F8F8F8;
    background-color: #1e3e4b;
    cursor: pointer;
}

#payBankBtn:active{
    transform: translateY(4px);
}

#payAllBtn{
    color: #F8F8F8;
    background-color: #41BA4D;
}

#payAllBtn:hover{
    color: #F8F8F8;
    background-color: #2b7632;
    cursor: pointer;
}
#payAllBtn:active{
    transform: translateY(4px);
}

#buyNowBtn{
    color: #2F383A;
    background-color: #7BDFFF;
}

#buyNowBtn:hover{
    color: #F8F8F8;
    background-color: #457e93;
    cursor: pointer;
}

#buyNowBtn:active{
    transform: translateY(4px);
}